body{
    background-color:lightgrey;
    font-family:Arial, helvetica, sans-serif;
    color:#fff;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2{
    text-align: center;
    font-size:1.25rem;
    margin-bottom:0px;
}

#loading{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:#fff;
    z-index:20;
    opacity:1;
    transition:0.8s linear all;
}

#loading.inactive{
    opacity:0;
    z-index:-1;
}


.container{
    box-sizing:border-box;
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-350px;
    margin-left:-480px;
    width:960px;
    height:700px;
    background-color:#fff;
    border:3px solid darkslateblue;
    border-left:none;
}

.toolbar{
    height:100%;
    width:160px;
    background: darkslateblue;
    float:left;
}

#canvas{
    float:right;
    height:700px;
    width:756px;
}

.toolbar ul{
    margin-top:0;
    margin-bottom:0;
    padding:12px;
    list-style: none;
    overflow:hidden;
    padding-bottom:20px;
}

.toolbar::after,
.toolbar ul::after{
    content:"";
    display:table;
    clear:both;
}

.toolbar .tool-block{
    border-bottom: 1px solid mediumpurple;
    position:relative;
}

.toolbar .tool-block .popin{
    box-sizing:border-box;
    position:absolute;
    top:0;
    right:-430px;
    height:100px;
    width:400px;
    background-color:#fff;
    box-shadow: 0px 0px 4px 4px #f3f3f3;
}

.toolbar .tool-block .popin .wrapper{
    position:relative;
}

.toolbar .tool-block .popin .arrow{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right:20px solid mediumorchid;
    position:absolute;
    left:-20px;
    top:50%;
    margin-top:-20px;
}

.toolbar .tool-block .popin p{
    padding:8px 10px;
    color:darkslateblue;
}

.toolbar .tool-block .popin .index{
    display:inline-block;
    color:darkslateblue;
    border-radius:28px;
    padding:5px 12px;
    font-weight:600;
    font-size:1.5rem;
    border:5px solid darkslateblue;
}

.toolbar .tool-block .popin .text{
    font-size:1.4rem;
    display:inline-block;
    margin-left:10px;
}

.toolbar .options{
    padding:0 10px;
    clear:both;
    margin-bottom:20px;
    font-size:0.85rem;
}

.toolbar .options a{
    color:#fff;
    text-decoration:none;
    opacity:0.7;
    transition:0.5s linear all;
}

.toolbar .options i{
    margin-right:5px;
}

.toolbar .options:hover a{
    opacity:1;
}

.toolbar .tool{
    box-sizing:border-box;
    border:3px solid #fff;
    background: linear-gradient(to bottom,lightgrey, #fff);
    width:45%;
    height:50px;
    line-height:50px;
    text-align:center;
    border-radius:8px;
    cursor:pointer;
    transition:0.5s all linear;
}

.toolbar .tool.active{
    background: linear-gradient(to top, lightgoldenrodyellow, #fff);
    border-color:yellowgreen;
    cursor:default;
}

.toolbar .tool:nth-of-type(odd){
    float:left;
}

.toolbar .tool:nth-of-type(even){
    float:right;
}

.toolbar .tool i{
    margin-top:-4px;
    vertical-align:middle;
    font-size:2.1rem;
    color:darkslateblue;
}

.toolbar .sizes{
    height:40px;
    padding-bottom:10px;
}

.toolbar .size{
    box-sizing:border-box;
    height:40px;
    float:left;
    cursor:pointer;
    transition:0.5s all linear;
    margin-right:8px;
}

.toolbar .size.active{
    color:yellowgreen;
}

.toolbar .size i{
    vertical-align:middle;
    line-height:40px;
}

.toolbar .size.small i{
    font-size:0.8rem;
}

.toolbar .size.medium i{
    font-size:1.5rem;
}

.toolbar .size.large i{
    font-size:2.2rem;
}

.toolbar .color{
    box-sizing:border-box;
    height:20px;
    width:20px;
    float:left;
    cursor:pointer;
    transition:0.5s all linear;
    margin-right:8px;
    border:2px solid #fff;
    border-radius:4px;
}

.toolbar .color.active{
    border-color:yellowgreen;
    border-width:3px;
}

.toolbar .color.red{
    background-color:red;
}

.toolbar .color.blue{
    background-color:blue;
}

.toolbar .color.grey{
    background-color:grey;
}

.toolbar .color.orange{
    background-color:orange;
}
